<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
    <listener>
        <listener-class>util.MySQLUtil</listener-class>
    </listener>
    <listener>
        <listener-class>util.MobileTerminalUtil</listener-class>
    </listener>
    <listener>
        <listener-class>util.FileUtil</listener-class>
    </listener>

    <!-- ===============Servlet configuration=============== -->
    <!-- ===============Administrator=============== -->
    <servlet>
        <servlet-name>UserManagement</servlet-name>
        <servlet-class>servlet.administrator.UserManagement</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserManagement</servlet-name>
        <url-pattern>/servlet.administrator.UserManagement</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MovieManagement</servlet-name>
        <servlet-class>servlet.administrator.MovieManagement</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MovieManagement</servlet-name>
        <url-pattern>/servlet.administrator.MovieManagement</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MovieScheduleManagement</servlet-name>
        <servlet-class>servlet.administrator.MovieScheduleManagement</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MovieScheduleManagement</servlet-name>
        <url-pattern>/servlet.administrator.MovieScheduleManagement</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CustomerOrderManagementSU</servlet-name>
        <servlet-class>servlet.administrator.CustomerOrderManagement</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CustomerOrderManagementSU</servlet-name>
        <url-pattern>/servlet.administrator.CustomerOrderManagement</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SATManagement</servlet-name>
        <servlet-class>servlet.administrator.SATManagement</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SATManagement</servlet-name>
        <url-pattern>/servlet.administrator.SATManagement</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserReviewManagement</servlet-name>
        <servlet-class>servlet.administrator.UserReviewManagement</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserReviewManagement</servlet-name>
        <url-pattern>/servlet.administrator.UserReviewManagement</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TopMovieManagement</servlet-name>
        <servlet-class>servlet.administrator.TopMovieManagement</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TopMovieManagement</servlet-name>
        <url-pattern>/servlet.administrator.TopMovieManagement</url-pattern>
    </servlet-mapping>

    <!-- ===============Customer=============== -->
    <servlet>
        <servlet-name>SignUp</servlet-name>
        <servlet-class>servlet.customer.SignUp</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignUp</servlet-name>
        <url-pattern>/servlet.customer.SignUp</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogIn</servlet-name>
        <servlet-class>servlet.customer.LogIn</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogIn</servlet-name>
        <url-pattern>/servlet.customer.LogIn</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SecondaryLogon</servlet-name>
        <servlet-class>servlet.customer.SecondaryLogon</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SecondaryLogon</servlet-name>
        <url-pattern>/servlet.customer.SecondaryLogon</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetUserInfo</servlet-name>
        <servlet-class>servlet.customer.GetUserInfo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetUserInfo</servlet-name>
        <url-pattern>/servlet.customer.GetUserInfo</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetMovie</servlet-name>
        <servlet-class>servlet.customer.GetMovie</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetMovie</servlet-name>
        <url-pattern>/servlet.customer.GetMovie</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetUserReview</servlet-name>
        <servlet-class>servlet.customer.UserReviewManagement</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetUserReview</servlet-name>
        <url-pattern>/servlet.customer.UserReviewManagement</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Order</servlet-name>
        <servlet-class>servlet.customer.Order</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Order</servlet-name>
        <url-pattern>/servlet.customer.Order</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetTopMovie</servlet-name>
        <servlet-class>servlet.customer.GetTopMovie</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetTopMovie</servlet-name>
        <url-pattern>/servlet.customer.GetTopMovie</url-pattern>
    </servlet-mapping>
</web-app>