<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
    <listener>
        <listener-class>util.MySQLUtil</listener-class>
    </listener>
    <listener>
        <listener-class>util.MobileTerminalUtil</listener-class>
    </listener>
    <listener>
        <listener-class>util.FileUtil</listener-class>
    </listener>

    <!-- ===============Servlet configuration=============== -->
    <!-- ===============Administrator=============== -->
    <servlet>
        <servlet-name>userManagement</servlet-name>
        <servlet-class>servlet.administrator.UserManagement</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userManagement</servlet-name>
        <url-pattern>/servlet.administrator.UserManagement</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>pushMessage</servlet-name>
        <servlet-class>servlet.administrator.PushMessage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>pushMessage</servlet-name>
        <url-pattern>/servlet.administrator.PushMessage</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>movieManagement</servlet-name>
        <servlet-class>servlet.administrator.MovieManagement</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>movieManagement</servlet-name>
        <url-pattern>/servlet.administrator.MovieManagement</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>movieScheduleManagement</servlet-name>
        <servlet-class>servlet.administrator.MovieScheduleManagement</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>movieScheduleManagement</servlet-name>
        <url-pattern>/servlet.administrator.MovieScheduleManagement</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>customerOrderManagementSU</servlet-name>
        <servlet-class>servlet.administrator.CustomerOrderManagement</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>customerOrderManagementSU</servlet-name>
        <url-pattern>/servlet.administrator.CustomerOrderManagement</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>satManagement</servlet-name>
        <servlet-class>servlet.administrator.SATManagement</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>satManagement</servlet-name>
        <url-pattern>/servlet.administrator.SATManagement</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>userReviewManagement</servlet-name>
        <servlet-class>servlet.administrator.UserReviewManagement</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userReviewManagement</servlet-name>
        <url-pattern>/servlet.administrator.UserReviewManagement</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>topMovieManagement</servlet-name>
        <servlet-class>servlet.administrator.TopMovieManagement</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>topMovieManagement</servlet-name>
        <url-pattern>/servlet.administrator.TopMovieManagement</url-pattern>
    </servlet-mapping>

    <!-- ===============Customer=============== -->
    <servlet>
        <servlet-name>signUp</servlet-name>
        <servlet-class>servlet.customer.SignUp</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>signUp</servlet-name>
        <url-pattern>/servlet.customer.SignUp</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>logIn</servlet-name>
        <servlet-class>servlet.customer.LogIn</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logIn</servlet-name>
        <url-pattern>/servlet.customer.LogIn</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>secondaryLogon</servlet-name>
        <servlet-class>servlet.customer.SecondaryLogon</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>secondaryLogon</servlet-name>
        <url-pattern>/servlet.customer.SecondaryLogon</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>getUserInfo</servlet-name>
        <servlet-class>servlet.customer.GetUserInfo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getUserInfo</servlet-name>
        <url-pattern>/servlet.customer.GetUserInfo</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>getMovie</servlet-name>
        <servlet-class>servlet.customer.GetMovie</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getMovie</servlet-name>
        <url-pattern>/servlet.customer.GetMovie</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>getUserReview</servlet-name>
        <servlet-class>servlet.customer.UserReviewManagement</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getUserReview</servlet-name>
        <url-pattern>/servlet.customer.UserReviewManagement</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>order</servlet-name>
        <servlet-class>servlet.customer.Order</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>order</servlet-name>
        <url-pattern>/servlet.customer.Order</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>getTopMovie</servlet-name>
        <servlet-class>servlet.customer.GetTopMovie</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getTopMovie</servlet-name>
        <url-pattern>/servlet.customer.GetTopMovie</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>getMovieSchedule</servlet-name>
        <servlet-class>servlet.customer.GetMovieSchedule</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getMovieSchedule</servlet-name>
        <url-pattern>/servlet.customer.GetMovieSchedule</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>getSATInfo</servlet-name>
        <servlet-class>servlet.customer.SATManagement</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getSATInfo</servlet-name>
        <url-pattern>/servlet.customer.SATManagement</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>watchlistManagement</servlet-name>
        <servlet-class>servlet.customer.WatchlistManagement</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>watchlistManagement</servlet-name>
        <url-pattern>/servlet.customer.WatchlistManagement</url-pattern>
    </servlet-mapping>
</web-app>